<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Dev Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="login-wrapper">

    <div class="login-card">

      <div class="login-header">
        <h2>Quick Access</h2>
        <p>Select a role to simulate authentication</p>
      </div>

      <div *ngIf="currentRole" class="current-role">
        Current role:
        <span>{{ currentRole | titlecase }}</span>
      </div>

      <div class="login-buttons">

        <ion-button expand="block"
                    (click)="loginAs('client')">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          Login as Client
        </ion-button>

        <ion-button expand="block"
                    fill="outline"
                    (click)="loginAs('freelancers')">
          <ion-icon slot="start" name="briefcase-outline"></ion-icon>
          Login as freelancers
        </ion-button>

      </div>

      <div *ngIf="isLoading" class="login-loading">
        <ion-spinner name="crescent"></ion-spinner>
        <span>Logging in...</span>
      </div>

      <div *ngIf="error" class="login-error">
        {{ error }}
      </div>

    </div>

  </div>

</ion-content>