<div class="custom-navbar">
  <ng-container *ngIf="!isLoggedIn; else loggedInNav">
    <button
      type="button"
      class="nav-item"
      [class.active]="activeTab === 'home'"
      aria-label="Home"
      (click)="goHome()"
    >
      <ion-icon name="home-outline"></ion-icon>
      <span>Home</span>
    </button>

    <button
      type="button"
      class="nav-item"
      [class.active]="activeTab === 'store'"
      aria-label="Services"
      (click)="goToStore()"
    >
      <ion-icon name="storefront-outline"></ion-icon>
      <span>Services</span>
    </button>

    <button
      type="button"
      class="nav-item nav-item-center"
      [class.active]="activeTab === 'join'"
      aria-label="Join us"
      (click)="openContactSheet()"
    >
      <span class="center-chip">
        <ion-icon name="log-in-outline"></ion-icon>
      </span>
      <span>Join us</span>
    </button>

    <button
      type="button"
      class="nav-item"
      [class.active]="activeTab === 'feedback'"
      aria-label="Feedback"
      (click)="goToFeedback()"
    >
      <ion-icon name="clipboard-outline"></ion-icon>
      <span>Feedback</span>
    </button>

    <button
      type="button"
      class="nav-item"
      [class.active]="activeTab === 'nav'"
      aria-label="Navigation scheme"
      (click)="openNavigationScheme()"
    >
      <ion-icon name="git-network-outline"></ion-icon>
      <span>Nav map</span>
    </button>
  </ng-container>

  <ng-template #loggedInNav>
    <button
      type="button"
      class="nav-item"
      [class.active]="activeTab === 'home'"
      aria-label="Home"
      (click)="goHome()"
    >
      <ion-icon name="home-outline"></ion-icon>
      <span>Home</span>
    </button>

    <button
      type="button"
      class="nav-item"
      [class.active]="activeTab === 'offers'"
      aria-label="Offers"
      (click)="goToOffers()"
    >
      <ion-icon name="briefcase-outline"></ion-icon>
      <span>{{ offersLabel }}</span>
    </button>

    <button
      type="button"
      class="nav-item nav-item-center"
      [class.active]="activeTab === 'action'"
      aria-label="Action"
      (click)="goToAction()"
    >
      <span class="center-chip">
        <ion-icon [name]="actionIcon"></ion-icon>
      </span>
      <span>{{ actionLabel }}</span>
    </button>

    <button
      type="button"
      class="nav-item"
      [class.active]="activeTab === 'messages'"
      aria-label="Messages"
      (click)="goToMessages()"
    >
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <span>Messages</span>
    </button>

    <button
      type="button"
      class="nav-item"
      [class.active]="activeTab === 'profile'"
      aria-label="Profile"
      (click)="goToProfile()"
    >
      <ion-icon name="person-circle-outline"></ion-icon>
      <span>Profile</span>
    </button>
  </ng-template>
</div>
